<% layout('layout/boilerplate') %>
    <div class="row register container">
        <div class="col-lg-10 row inner-page mt-lg-5">
            <div class="inner-image p-3 col-lg-6">
                <h1>YelpCamp</h1>
                <p>Welcome to YelpCamp!<br>
                    jump right and explore many campgrounds,<br>
                    Feel free to share some your own and comment on others!</p>
             
                <a href="/register" class="btn  btn-sm"><b>Register</b></a>

            </div>
            <div class="col-lg-6 p-3 inner-form">
                <form action="/login" method="post" class="needs-validation" novalidate>

                    <h2 class="text-center">Login</h2>
                    <div class="md-3">
                        <label class="form-label" for="username">Username:</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>

                    <div class="md-3">
                        <label class="form-label" for="password">password:</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                    <button class="btn btn-success mt-3">Sign In</button>

                </form>
            </div>
        </div>


    </div>